/*Pesquisa*/
body {
	width: 100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	color:#000000;
}
#buttonsair, #buttonvoltar, #buttonprincipal {
position:fixed;
text-align:center;
text-indent:inherit;
background:white;
color:green;
_position: absolute;
}

#buttonsair {
top:0px;right: 0px;width:70px;
}

#buttonvoltar{
bottom:0px;right: 0px;width:70px;
}

#buttonprincipal{
top:0px;left: 0px;width:85px;
}

img {
	border: none;
}
h2 {
	font-size:1.0em;
	word-wrap: auto;
}

disc{
		font-size:1.2em;
	}
	
.aviso_notas {
   text-align: justify;
   color: teal;
   font-size: 0.75em;
   font-weight: bold;
   font-style: italic;
   text-transform: uppercase;
}